body{
	background-image: url('images/code.jpg');
    display:inline-block;
}

.colors{
    text-align: center;
    font-weight: bold;
}

.fimg{
	border-radius: 40%;
	border:1px solid  #b366ff;
    margin-top: 20px;
}

.container {
    width: 60%;
    height: 100%;
    padding: 15px;
    box-shadow: 4px 4px 10px 4px #ccccb3;
    border-radius: 5px;
    margin: auto;
    background: #333;
    color: white;
}

header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #262626;
    border-radius: 30px;
    border:1px solid  #b366ff;
}

.headDiv{
	
    padding: 20px 20px;
    display: block;
}

.sub{
    margin-top: 50px;
}

p{
    text-align: justify;
}

fieldset{
    border:1px solid  #b366ff;
    border-radius: 5px;
}

a{
    color: #b366ff;
    text-decoration: none;
}

.simg{
    border-radius: 5px;
    margin-left:5px;
    margin-right: 5px;
}

footer{
    display: block;
    background-color: #262626;
    border-radius: 30px;
    border:1px solid  #b366ff;
    padding-left: 10px;
    padding-right: 10px;
}

@media only screen and (max-width: 400px) {
    .container {
        width: 90%;
    }
}